In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("train.csv")

In [3]:
len(train)

42000

In [5]:
train.shape

(42000, 785)

In [6]:
y_train = train['label']

In [7]:
y_train

0        1
1        0
2        1
3        4
4        0
        ..
41995    0
41996    1
41997    7
41998    6
41999    9
Name: label, Length: 42000, dtype: int64

In [23]:
x_train = train[train.columns[1:785]]

In [24]:
x_train

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
x_train.shape

(42000, 784)

In [26]:
x_train = x_train.values.reshape(-1,28,28)

In [27]:
x_train.shape

(42000, 28, 28)

In [33]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(512, activation=tf.nn.relu))
model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(512, activation=tf.nn.relu))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(512, activation=tf.nn.relu))
model.add(tf.keras.layers.Dropout(0.1))
model.add(tf.keras.layers.Dense(64, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(32, activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(10, activation=tf.nn.softmax))

In [34]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [35]:
model.fit(x_train, y_train, batch_size=1000, epochs=20, verbose=2)

Epoch 1/20
42/42 - 3s - loss: 8.4259 - accuracy: 0.2920
Epoch 2/20
42/42 - 3s - loss: 1.1466 - accuracy: 0.6154
Epoch 3/20
42/42 - 3s - loss: 0.7424 - accuracy: 0.7814
Epoch 4/20
42/42 - 3s - loss: 0.5369 - accuracy: 0.8540
Epoch 5/20
42/42 - 3s - loss: 0.4340 - accuracy: 0.8846
Epoch 6/20
42/42 - 3s - loss: 0.3622 - accuracy: 0.9016
Epoch 7/20
42/42 - 3s - loss: 0.3100 - accuracy: 0.9168
Epoch 8/20
42/42 - 3s - loss: 0.2724 - accuracy: 0.9236
Epoch 9/20
42/42 - 3s - loss: 0.2430 - accuracy: 0.9321
Epoch 10/20
42/42 - 2s - loss: 0.2154 - accuracy: 0.9403
Epoch 11/20
42/42 - 3s - loss: 0.1975 - accuracy: 0.9441
Epoch 12/20
42/42 - 3s - loss: 0.1815 - accuracy: 0.9474
Epoch 13/20
42/42 - 3s - loss: 0.1610 - accuracy: 0.9541
Epoch 14/20
42/42 - 3s - loss: 0.1515 - accuracy: 0.9572
Epoch 15/20
42/42 - 3s - loss: 0.1409 - accuracy: 0.9583
Epoch 16/20
42/42 - 3s - loss: 0.1332 - accuracy: 0.9612
Epoch 17/20
42/42 - 3s - loss: 0.1201 - accuracy: 0.9637
Epoch 18/20
42/42 - 2s - loss: 0.1138 - accuracy: 0.9666
Epoch 19/20
42/42 - 2s - loss: 0.1057 - accuracy: 0.9683
Epoch 20/20
42/42 - 3s - loss: 0.0998 - accuracy: 0.9692

In [37]:
test = pd.read_csv("test.csv")
test=test.values.reshape(-1,28,28)
test = tf.keras.utils.normalize(test, axis=1)
predictions = model.predict(test)

In [38]:
output = pd.read_csv("submit2.csv")
import numpy as np
for i in range(len(test)):
    output['Label'][i] = np.argmax(predictions[i])

In [39]:
output.to_csv('submit2.csv', index=False)

In [40]:
np.argmax(predictions[0])

8